* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.Time_container{
    display: flex;
    gap: 20px;
    color: #fff;
}

.Time_container .circle {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
   
}
.Time_container .circle svg {

    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.Time_container .circle svg circle {

    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191911;
    stroke-width: 4;
    transform: translate(5px,5px)
}

.Time_container .circle svg circle:nth-child(2) {

    stroke: var(--clr);
    stroke-dasharray: 440;
}
.Time_container div {
       
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;


}

.Time_container .AP {

    position: relative;
    font-size: 2em;
    top: -20px;
    transform: translateX(20px)
}


